@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #181A1D;
}

.content {
  max-width: 1230px;
  margin: 0 auto;
  padding: 150px 15px 44px 15px;
}

.header {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  padding: 22px 0 0 0;
  border-bottom: 1px solid #181A1D;
  padding-bottom: 22px;
  margin: 0 0 150px 0;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 3px;
}
.header__button a {
  padding: 0 10px;
}
.header__logo {
  display: inline-block;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 50px 0;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin: 0 0 50px 0;
}
.block__content img {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}
.block__content img:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media screen and (max-width: 650px) {
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__content {
    width: 100%;
  }
  .block__content img {
    width: 100%;
  }
}