body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color:#181A1D;
} 

a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
} 

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    font-size: 14px;
    padding: 22px 0 90px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.menu-item{
    padding-right: 24px;
    display: flex;
}