@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #181A1D;
}
.content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 22px 15px 0 15px;
}
.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin: 0 0 100px 0;
}

.top {
		&__header {
            display: flex;
            justify-content: space-between;
            margin: 0 0 130px 0;
            img{
                width: 177px;
                height: 36px;
            }
		}
		&__menu {
            a{
                margin: 0 24px 0 0;
                color: #181A1D;
                line-height: 21px;
            }
            a:hover{
                color: rgba(0, 0, 0, 0.5);
            }
            a:last-child{
                margin: 0;
                padding: 10px 24px;
                background-color: #181A1D;
                color: #fff;
                border-radius: 100px;
                height: 100%;
                display: inline-block;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
                letter-spacing: 2%;
                font-weight: 500;
            }
            a:last-child:hover{
                background-color:rgba(0, 0, 0, 0.8);
            }
            @media screen and (max-width: 850px) {
                a{
                    font-size: 12px;
                }
                a:last-child{
                    padding: 8px 20px;
                }
            }
            @media screen and (max-width: 760px) {
                a{
                    display: none;
                }
                a:last-child{
                    display: inline-block;
                }
            }
		}
		&__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
		}
		&__title {
            font-size: 70px;
            line-height: 90px;
            max-width: 620px;
            margin: 0 0 22px 0;
            font-weight: 800;
            letter-spacing: 1;
		}
		&__subtitle {
            color: #676767;
            font-size: 18px;
            line-height: 36px;
            span{
                font-weight: 700;
            }
            max-width: 480px;
		}
		&__image {
            display: flex;
            max-width: 520px;
            flex-wrap: wrap;
            img{
                display: inline-block;
                box-shadow: 4px 6px 25px 0px #0000002B;
                border-radius: 30px;
            }
            img:nth-child(1){
                max-width: 200px;
                max-height: 250px;
            }
            img:nth-child(2){
                margin: 0 0 0 20px;
                max-width: 300px;
                max-height: 220px;
            }
            img:nth-child(3){
                max-width: 300px;
                max-height: 220px;
                margin: 20px 0 0 0;
            }
            img:nth-child(4){
                max-width: 200px;
                max-height: 250px;
                margin: -10px 0 0 20px;
            }
        }
        margin: 0 0 150px 0;
}


.about {
    &__content {
        display: flex;
        align-items: center;
    }
    &__img {
        max-width: 510px;
        height: 326px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    &__img:hover {
        transition: 1s;
        transform: scale(1.04);
    }
    &__text {
        width: 540px;
        margin: 0 0 0 102px;
        font-size: 16px;
        line-height: 28.8px;
    }
    margin: 0 0 150px 0;
}

.gallery {
    .gallery-mobile__container{
        display: none;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        img{
            border-radius: 15px;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
        }
        img:hover{
            transition: 1s;
            transform: scale(1.04);
        }
    }
    .content {
        &__left {
            display: flex;
            flex-wrap: wrap;
            img:nth-child(1){
                margin: 0 20px 20px 0;
                width: 280px;
                height: 280px;
            }
            img:nth-child(2){
                width: 280px;
                height: 280px;
                margin: 0 0 20px 0;
            }
            img:nth-child(3){
                width: 580px;
                height: 300px;
            }
        }
        &__right {
            img{
                width: 600px;
                height: 600px;
            }
        }
    }
    margin: 0 0 150px 0;
}

.notice {
    &__block {
        box-shadow: 4px 6px 25px 0px #0000002B;
        border-radius: 30px;
    }
    &__content {
        padding: 28px 30px 15px;
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px 0;
    }
    &__text {
        letter-spacing: 1%;
        line-height: 21px;
        p{
            margin: 0 0 8px 0;
        }
        p:last-child{
            margin: 0 0 28px 0;
        }
    }
    &__signature {
        display: flex;
        justify-content: right;
        color: #676767;
    }
    &__author {
        margin: 0 40px 0 0;
    }
    margin: 0 0 150px 0;
}

.documentation {
    .documentation__block{
        box-shadow: 4px 6px 25px 0px #0000002B;
        display: inline-block;
        width: 384px;
        border-radius: 30px;
    }
    .block__content{
        padding: 25px 20px 20px 25px;
    }
    .block__links{
        display: flex;
        justify-content: center;
        a{
            display: inline-block;
            border: 1px solid #181A1D;
            padding: 6px 25px;
            border-radius: 100px;
            color: #181A1D;
            font-weight: 400;
            font-size: 14px;
        }
        a:first-child{
            margin: 0 20px 0 0;
        }
        a:hover{
            transition: 0.2s;
            background-color: #181A1D;
            color: #fff;
        }
    }
    .block__title{
        margin: 0 0 40px 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }    
    .treaty__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 50px 0;
    }
    .protocol__row {
        text-align: center;
    }
    .documentation-title {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 30px 0;
    }
    margin: 0 0 150px 0;
}

.footer {
    background-color: #181A1D;
    color: #fff;
    &__content{
        padding: 50px 0 22px;
    }
    a{
        color: #fff;
    }
    &__links{
        a:hover{
            color: greenyellow;
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 0 auto 50px;
        .links__content{
            text-align: center;
            width: 73px;
            img{
                margin: 0 0 10px 0;
                width: 48px;
                height: 48px;
            }
        }
    }
    &__info {
        p{
            text-align: center;
            font-size: 16px;
        }
        p:nth-child(1){
            margin: 0 0 20px 0;
        }
        p:nth-child(2){
            margin: 0 0 150px 0;
        }
        p:nth-child(3){
            font-size: 14px;
        }
        a{
            color: #fff;
            font-weight: 700;
        }
        a:hover{
            color: greenyellow;
        }
    }
}

//------- Adapt for tablets ------- 
@media screen and (max-width: 1220px){
    .top__content{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .top__text{
        order: 2;
        justify-content: space-between;
    }
    .top__image{
        order: 1;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .about__content{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .about__img{
        margin: 0 auto;
        margin-bottom: 50px;

    }
    .about__text{
        margin: 0;
        width: 100%;
    }
    .gallery__content{
        display: flex;
        flex-direction: column;
        text-align: center;
        .content__left{
            display: inline-block;
            width: 95%;
            margin: 0 auto;
        }
        .content__right{
            order: -1;
            margin: 0 0 20px 0;
            img{
                width: 580px;
                height: 580px;
            }
        }
    }
    .notice__text{
        p{
            line-height: 170%;
        }
    }
    .documentation{
        .treaty__row{
            display: block;
        }
        .documentation__block{
            box-shadow: 4px 6px 20px 0px #0000002B;
            display: block;
            width: 100%;
        }
        .treaty__row {
            .documentation__block:nth-child(1){
                margin-bottom: 30px;
            }
            .documentation__block:nth-child(2){
                margin-bottom: 30px;
            }
        }
        .block__title{
            display: block;
            text-align: left;
        }
        .block__links{
            justify-content: right;
        }
    }
}

//------- Adapt for mobile ------- 
@media screen and (max-width: 650px) {
    .top__header{
        margin-bottom: 100px;
    }
    .top__image{
        width: 100%;
        img{
            display: inline-block;
            box-shadow: 4px 6px 25px 0px #0000002B;
            border-radius: 20px;
        }
        img:nth-child(1){
            width: 38%;
            margin: 0;
        }
        img:nth-child(2){
            margin: 0 0 4% 4%;
            width: 58%;
        }
        img:nth-child(3){
            margin: 4% 0 0 0;
            width: 58%;
        }
        img:nth-child(4){
            margin: 0 0 0 4%;
            width: 38%;
        }
        margin: 0 0 60px 0;
    }
    .top__title{
        font-size: 58px;
        line-height: 60px;
        margin: 0 0 15px 0;
    }
    .top__subtitle{
        font-size: 16px;
        line-height: 25px;
    }
    .title{
        font-size: 28px;
    }
    .about{
        &__img{
            margin: -50px auto 20px;
            width: 100%;
        }
        
    }
    .gallery{
        &__content{
            img{
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
            }
            img:hover{
                transition: none;
                transform: none;
            }
            display: flex;
            flex-direction: column;
            .content__left{
                display: none;
            }
            .content__right{
                display: none;
            }
            @keyframes fade { 
                0% { opacity: 0; } 
                11.11% { opacity: 1; } 
                33.33% { opacity: 1; } 
                44.44% { opacity: 0; } 
                100% { opacity: 0; } 
              } 
              
            .gallery-mobile { position:relative; width:100%;} 
            .gallery-mobile img { position:absolute; width:100%; left:0; right:0; opacity:0; animation-name: fade; animation-duration: 12s; animation-iteration-count: infinite; } 
            .gallery-mobile img:nth-child(1) { animation-delay: 0s; } 
            .gallery-mobile img:nth-child(2) { animation-delay: 3s; } 
            .gallery-mobile img:nth-child(3) { animation-delay: 6s; }
            .gallery-mobile img:nth-child(4) { animation-delay: 9s; }
            .gallery-mobile__container{
                display: block;
                margin-bottom: 100%;
            }
        }
    }
    .notice{
        &__block{
            border-radius: 20px;
        }
        &__signature{
            display: flex;
            flex-direction: column;
        }
        &__date{
            margin: 0 0 2px 0;
            order: -1;
        }
        &__text{
            text-align: justify;
            p{
                line-height: 160%;
            }
        }
    }
    .footer{
        &__info{
            p:nth-child(1){
                margin: 0 0 15px 0;
            }
            p:nth-child(2){
                line-height: 30px;
            }
            padding: 0 15px;
        }
        &__info{
            p:nth-child(2){
                margin: 0 0 100px 0;
            }
        }
    }
}
